*{
  background-color: grey;
  color: white;
  font-size: larger;
}

h1{
  color: blue;
  text-align: center;
}

h2{
  color: green;
  font-style: italic;
  text-align: center;
}
p{
  font-family: sans-serif;
}
ul{
  line-height: 40px;
}

em{
  text-transform: uppercase;
  font-weight: bold;
}

strong{
  font-style: italic;
}